<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Login</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Login
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
        <li class="active">Login</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Login</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div th:if="${exception}" style="flex: 1; margin: 0 30px;">
                        <div layout:include="fragments/alert :: alert" th:with="type='error', header='exception'" th:remove="tag">
                            <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                            <th:block layout:fragment="alert-content">
                                <p th:text="${exception}">exception</p>
                            </th:block>
                        </div>
                    </div>
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post" th:object="${user}">
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-offset-8 col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</body>
</html>