<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Payment Conditions - Add</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Payment Conditions
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
        <li>Payment Conditions</li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Create</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <form action="#" th:action="@{/payment-condition/add}" th:object="${paymentCondition}" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{id}"/>
                                    <labe>Payment condition name: </labe>
                                    <input type="text" th:field="*{name}" class="form-control"/>
                                     <label >Payment condition template: </label>
                                    <textarea th:field="*{template}" class="form-control"/>
                                    <label >Payment condition period: </label>
                                    <input type="text" th:field="*{periodInDays}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <p><input type="submit" class="btn btn-primary" id="save" value="Save paymentCondition" name="save" /></p>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</body>
</html>