<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Policies - Overview</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Policies
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
        <li>Policies</li>
        <li class="active">Overview</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Overview</h3>

                    <!--<div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="flex-wrapper" style="display: flex; align-items: center;">
                        <div class="btn-group" style="margin: 0 50px 0 20px;">
                            <a th:href="@{/policy/create}" class="btn btn-app">
                                <span class="fa fa-plus"></span> Add
                            </a>
                        </div>

                        <div th:if="${success}" style="flex: 1; margin: 0 30px;">
                            <div layout:include="fragments/alert :: alert" th:with="type='success', header='Success!'" th:remove="tag">
                                <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                                <th:block layout:fragment="alert-content">
                                    <p th:text="${success}">Message</p>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Insurance</th>
                            <th>Contribution</th>
                            <th>Date Start</th>
                            <th>Date End</th>
                            <th>Active</th>
                            <th>Contribution Used</th>
                            <th width="4%">&nbsp;</th>
                        </tr>
                        <tr th:each="policy : ${policies}">
                            <td th:text="${policy.id}"></td>
                            <td>
                                <a th:href="@{~/customer/show/} + ${policy.customer.csn}"><span class="fa fa-user"> <span th:text="${policy.customer.fullName}"></span></span></a>
                            </td>
                            <td>
                                <a th:href="@{~/insurance/show/} + ${policy.insurance.id}"><span class="fa fa-heartbeat"> <span th:text="${policy.insurance.name}"></span></span></a>
                                <!-- original <a th:href="@{~/insurance/}"><span class="fa fa-heartbeat"> <span th:text="${policy.insurance.name}"></span></span></a>-->
                            </td>
                            <td th:text="${'&euro; ' + #numbers.formatDecimal(policy.contribution, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${policy.dateStart}"></td>
                            <td th:text="${policy.dateEnd}"></td>
                            <td th:text="${policy.active ? 'Yes' : 'No'}"></td>
                            <td th:text="${'&euro; ' + #numbers.formatDecimal(policy.contributionUsed, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{'/policy/edit/' + ${policy.id}}"  class="btn btn-xs btn-primary" ><span
                                            class="fa fa-pencil"></span></a>
                                    <a th:href="@{'/policy/delete/' + ${policy.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this policy ?') ? true : false;"><span
                                            class="fa fa-trash"></span></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</body>
</html>